<!DOCTYPE html>

<html lang="en" translate="no" data-dpr="1" style="font-size: 40.5px;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="manifest" href="/manifest.json" />

    <link rel="icon" href="/images/banners/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
    <meta name="google" content="notranslate">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="description"
        content="Login to Blue Dollar at Blue dollar to get ultimate online gaming experience. Enjoy exciting rewards. Register now for non-stop entertainment!">
    <meta name="google-site-verification" content="iMsmSh7DNU60R1jEUqrsOyqk3ZuE8TZMdKB9VYXr4AU" />


    <title>Blue Dollar | Goa Games Login</title>
    <link rel="stylesheet" href="./Goa Games_files/modules-8b01ca49.css">
    <link rel="stylesheet" href="./Goa Games_files/page-activity-323fd479.css">
    <link rel="stylesheet" href="./Goa Games_files/page-home-cfe01099.css">
    <link rel="stylesheet" href="./Goa Games_files/index-0d5f8a5b.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '671566855156686');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=671566855156686&ev=PageView&noscript=1" /></noscript>


</head>


<style>
    /* body {
        height: fit-content !important;
        width: 24%;
        background-color: black !important;
        padding: 0;
        margin: 0;
    } */
    html,
        body {
            height: 100%;
            width: 100%;
            background-color: #9f9fa9;
            padding: 0;
            margin: 0;
        }

        #app{
            background: linear-gradient(45deg, black, #171b2999);
           /* width:fit-content; */
        }

    @media (max-width: 1024px) {
        body {
            width: 100% !important;
        }
    }

    @media (max-width: 960px) {
        body {
            width: 100% !important;
        }
    }

    /* Mobile devices (landscape and smaller) */
    @media (max-width: 768px) {
        body {
            width: 100% !important;
        }
    }

    /* Very small devices (like older phones) */
    @media (max-width: 480px) {
        body {
            width: 100% !important;
        }
    }
</style>

<!-- <script>
    // Get the Confirm button element
    const confirmButton = document.querySelector('.van-dialog__confirm');

    // Get the dialog content element
    const dialogContent = document.querySelector('.van-popup');

    // Add click event listener to the Confirm button
    confirmButton.addEventListener('click', function () {
        // Hide the dialog content when Confirm button is clicked
        dialogContent.style.display = 'none';
    });
</script> -->


<script>
    let deferredPrompt;

    window.addEventListener('beforeinstallprompt', (e) => {
      // Prevent the mini-infobar from appearing
      e.preventDefault();
      deferredPrompt = e;

      // Show the install button
      const btn = document.getElementById('downloadAppBtne');
      btn.style.display = 'inline-block';

      btn.addEventListener('click', async () => {
        deferredPrompt.prompt();
        const { outcome } = await deferredPrompt.userChoice;
        console.log(`User response to install: ${outcome}`);
        deferredPrompt = null;
        btn.style.display = 'none'; // Hide button after interaction
      });
    });
  </script>


<body style="font-size: 12px; max-width: 100%; overflow-x: hidden;">
    <div id="app" data-v-app="" >
        <div data-v-abc5f588="" class="content"
        style="--481e2ff7: &#39;Roboto&#39;, &#39;Inter&#39;, sans-serif;padding-bottom:15px;">
        <div data-v-4bdb4e87="" data-v-abc5f588="" class="navbar" style="--7b60c591: #ffffff;">
            <div data-v-4bdb4e87="" class="navbar-fixed" style="background: rgb(141, 9, 9);">
            
            <!-- style="background: linear-gradient(45deg, black, #171b2999);"> -->
          <div data-v-4bdb4e87="" class="navbar__content">
                    <div data-v-4bdb4e87="" class="navbar__content-left">
                        <img data-v-abc5f588="" src="/images/banners/logo.png" alt="">
                    </div>
                    <div data-v-4bdb4e87="" class="navbar__content-center">
                        
                        <div data-v-4bdb4e87="" class="navbar__content-title">

                        </div>
                    </div>
                    <div data-v-4bdb4e87="" class="navbar__content-right">
                        <div data-v-abc5f588="" class="content__right">
                            <!-- <div data-v-abc5f588="" class="message">
                                <svg data-v-abc5f588="" class="btn" onclick="window.location='/home/notify'"
                                    width="44" height="38" viewBox="0 0 44 38" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M11 37.7001H33C39.6 37.7001 44 34.4001 44 26.7001V11.3C44 3.60005 39.6 0.300049 33 0.300049H11C4.4 0.300049 0 3.60005 0 11.3V26.7001C0 34.4001 4.4 37.7001 11 37.7001ZM16.8498 19.1804C18.2798 20.3464 20.1498 20.9184 21.9978 20.9184C23.8458 20.9184 25.7158 20.3464 27.1238 19.1804L34.0098 13.6804C34.7358 13.1304 34.8458 12.0744 34.2738 11.3704C33.7238 10.6444 32.6678 10.5344 31.9638 11.1064L25.0778 16.6064C23.4058 17.9484 20.5678 17.9484 18.8958 16.6064L12.0098 11.1064C11.6667 10.8572 11.2406 10.7501 10.8204 10.8073C10.4002 10.8646 10.0184 11.0819 9.7545 11.4139C9.49063 11.7459 9.3651 12.1669 9.40409 12.5892C9.44309 13.0115 9.6436 13.4024 9.96381 13.6804L16.8498 19.1804Z"
                                        fill="currentColor">

                                    </path>
                                </svg>
                                <div data-v-d6fe61e8="" data-v-abc5f588="" class="point point-flicker point">

                                </div>
                            </div> -->
                            <!-- <a style="text-decoration: none;" href="/Goa Games.apk" download="goagamesclub.apk">
                                <div style="padding: 4px 7px;
                             background: white;
                             border-radius: 6px;
                             cursor: pointer;
                             font-size: 14px;
                             color: black;">Download APK</div>
                            </a> -->

                            <a href="/Blue Doller.apk" download  class="btn btn-danger" style="padding: 8px 10px; font-size: 10px;">Download App</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

          
        <div data-v-790a0a45="" data-v-abc5f588="" class="game_menu">
            <div data-v-790a0a45="" class="menu_box1" style="gap: 10px;">
                <div data-v-790a0a45="" style="" onclick="window.location.href='/aviator'">
                    <!-- <img data-v-790a0a45="" alt="" class="" data-origin="https://ossimg.goa999.vip//GoaGame/gamecategory/gamecategory_20240127134718aedk.png" src="./Goa Games_files/gamecategory_20240127134718aedk.png"> -->
                    <img data-v-790a0a45="" alt="" style="border-radius:25px"
                        data-origin="https://ossimg.goa999.vip//GoaGame/gamecategory/gamecategory_20240127134718aedk.png"
                        src="/images/icons/aviator2.webp" style="margin-top: 0; position: relative;">
                <span data-v-790a0a45="" style="position: absolute; bottom: 2px;">Aviator</span>

                </div>

                <!-- <div data-v-790a0a45="" class="coming_soon">
                                <img data-v-790a0a45="" alt="" class="" data-origin="https://ossimg.goa999.vip//GoaGame/gamecategory/gamecategory_20240127134331wkt7.png" src="./Goa Games_files/gamecategory_20240127134331wkt7.png" style="margin-top: 0;">
                                <span data-v-790a0a45="">Lottery</span>
                            </div> -->
                <div data-v-790a0a45="" onclick="handleLudo()">
                    <!-- <img data-v-790a0a45="" alt="" class="" data-origin="https://ossimg.goa999.vip//GoaGame/gamecategory/gamecategory_20240127160211wyu9.png" src="./Goa Games_files/gamecategory_20240127160211wyu9.png"> -->
                    <img data-v-790a0a45="" alt="" class="" style="position: relative;"
                        data-origin="https://ossimg.goa999.vip//GoaGame/gamecategory/gamecategory_20240127160211wyu9.png"
                        src="/images/icons/dragont.png" style="margin-top: 0;  ">
                    <span data-v-790a0a45="" style="font-size: 15px; position: absolute; bottom: 2px;">Dragon Tiger</span>
                </div>

                <div data-v-790a0a45="" onclick="handelLottery()">
                    <img data-v-790a0a45="" alt="" style="background: linear-gradient(45deg, black, transparent);
                    border-radius: 25px;"
                        data-origin="https://ossimg.goa999.vip//GoaGame/gamecategory/gamecategory_20240127134331wkt7.png"
                        src="/images/icons/lott.png" style="margin-top: 0; position: relative;">
                    <span data-v-790a0a45="" style="position: absolute; bottom: 2px;">Lottery</span>
                </div>
                

            </div>
          
            <div data-v-790a0a45="">
                <!-- <div data-v-790a0a45="" class="coming_soon">
                                <img data-v-790a0a45="" alt="" class="" data-origin="https://ossimg.goa999.vip//GoaGame/gamecategory/gamecategory_20240127171151ol6s.png" src="./Goa Games_files/gamecategory_20240127171151ol6s.png">
                                <span data-v-790a0a45="">Sports</span>
                            </div> -->
                <!-- <div data-v-790a0a45="" class="live_menu coming_soon">
                                <img data-v-790a0a45="" alt="" class="" data-origin="https://ossimg.goa999.vip//GoaGame/gamecategory/gamecategory_20240127160544mw56.png" src="./Goa Games_files/gamecategory_20240127160544mw56.png">
                                <span data-v-790a0a45="">Casino</span>
                            </div> -->
                <!-- <div data-v-790a0a45="" class="coming_soon">
                                <img data-v-790a0a45="" alt="" class="" data-origin="https://ossimg.goa999.vip//GoaGame/gamecategory/gamecategory_20240127140618epu3.png" src="./Goa Games_files/gamecategory_20240127140618epu3.png">
                                <span data-v-790a0a45="">Rummy</span>
                            </div> -->
            </div>
            <div data-v-790a0a45="" class="menu_box3" style="gap: 10px;">
                <!-- <div data-v-790a0a45="">
                                <img data-v-790a0a45="" alt="" class="" data-origin="https://ossimg.goa999.vip//GoaGame/gamecategory/gamecategory_20240306120644tfcu.png" src="./Goa Games_files/gamecategory_20240306120644tfcu.png">
                                <span data-v-790a0a45="">Fishing</span>
                            </div> -->
                <!-- <div data-v-790a0a45=""><img data-v-790a0a45="" alt="" class="" data-origin="https://ossimg.goa999.vip//GoaGame/gamecategory/gamecategory_2023071018441674yw.png" src="./Goa Games_files/gamecategory_2023071018441674yw.png"><span data-v-790a0a45="">Original</span></div> -->
            </div>
        </div>
        <div data-v-8a12c4a7="" data-v-abc5f588="" class="gamesList__container">
            <!-- <div data-v-8a12c4a7="" class="gamesList__container-title">Lottery</div> -->
            <div data-v-4545c33e="" data-v-8a12c4a7="" class="gameListGrid__container all_container">
                <!----><!----><!----><!---->
                <div data-v-acc62268="" data-v-4545c33e="" class="lottery_container all_lottery">
                    <!-- <div data-v-acc62268=""onclick="window.location='/win'" class="lotterySlotItem"><img data-v-acc62268="" src="https://ossimg.goa999.vip//GoaGame/lotterycategory/lotterycategory_20230710190121isq8.png"><span data-v-acc62268="">Win Go</span><h4 data-v-acc62268=""onclick="window.location='/win'" style="bottom: 0;"><div data-v-acc62268="">Guess Number</div><div data-v-acc62268="">Green/Red/Purple to win</h4></div> -->

                    <!-- <div data-v-acc62268=""onclick="window.location='/k3'" class="lotterySlotItem"><img data-v-acc62268="" src="https://ossimg.goa999.vip//GoaGame/lotterycategory/lotterycategory_202307102058012cme.png"><span data-v-acc62268="">K3</span><h4 data-v-acc62268=""style="bottom: 0;">
                                <div data-v-acc62268="">Guess Number</div><div data-v-acc62268="">Big/Small/Odd/Even</div></h4></div> -->
                    <!-- <div data-v-acc62268=""onclick="window.location='/5d'" class="lotterySlotItem"><img data-v-acc62268="" src="https://ossimg.goa999.vip//GoaGame/lotterycategory/lotterycategory_20230710190102q9cj.png"><span data-v-acc62268="">5D</span><h4 data-v-acc62268="" style="bottom: 0;"><div data-v-acc62268="">Guess Number</div><div data-v-acc62268="">Big/Small/Odd/Even</div></h4></div>
                                <div data-v-acc62268="" class="lotterySlotItem" onclick="window.location='/aviator'"><img data-v-acc62268="" src="./images/gamecategory_2023071018441674yw.png"><span data-v-acc62268="">Aviator</span><h4 data-v-acc62268="" style="bottom: 0;"><div data-v-acc62268="">Multiply Amount</div><div data-v-acc62268="">Cashout before crash to win</div></h4></div> -->

                </div><!----><!---->
            </div>
        </div>
        <!-- <div data-v-360110e5="" data-v-abc5f588="" class="luckyWinners__container"><h2 data-v-360110e5="">Winning information</h2><div data-v-360110e5="" class="luckyWinners__container-wrapper"><div data-v-360110e5="" style="position: relative;"><div data-v-360110e5="" class="luckyWinners__container-wrapper__item"><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-img"><img data-v-360110e5="" src="https://goagame.com/assets/png/14-a397ff6b.png"></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-info"><h2 data-v-360110e5="">Mem***EVA</h2></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-winType"><img data-v-360110e5="" src="https://ossimg.goa999.vip//GoaGame/vendorlogo/vendorlogo_20230724124223a1c6.png"></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-winAmount"><h2 data-v-360110e5="">Receive ₹1,425.44</h2><span data-v-360110e5="">Winning amount</span></div></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item"><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-img"><img data-v-360110e5="" src="https://goagame.com/assets/png/1-a6662edb.png"></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-info"><h2 data-v-360110e5="">Mem***NAL</h2></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-winType"><img data-v-360110e5="" src="https://ossimg.goa999.vip//GoaGame/vendorlogo/vendorlogo_20230724124223a1c6.png"></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-winAmount"><h2 data-v-360110e5="">Receive ₹390.08</h2><span data-v-360110e5="">Winning amount</span></div></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item"><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-img"><img data-v-360110e5="" src="https://goagame.com/assets/png/6-7c7f5203.png"></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-info"><h2 data-v-360110e5="">Mem***JGH</h2></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-winType"><img data-v-360110e5="" src="https://ossimg.goa999.vip//GoaGame/vendorlogo/vendorlogo_20230724124223a1c6.png"></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-winAmount"><h2 data-v-360110e5="">Receive ₹408.00</h2><span data-v-360110e5="">Winning amount</span></div></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item"><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-img"><img data-v-360110e5="" src="https://goagame.com/assets/png/7-00479cfa.png"></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-info"><h2 data-v-360110e5="">Mem***OII</h2></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-winType"><img data-v-360110e5="" src="https://ossimg.goa999.vip//GoaGame/vendorlogo/vendorlogo_20230724124223a1c6.png"></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-winAmount"><h2 data-v-360110e5="">Receive ₹384.00</h2><span data-v-360110e5="">Winning amount</span></div></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item"><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-img"><img data-v-360110e5="" src="https://goagame.com/assets/png/19-2ac9fd83.png"></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-info"><h2 data-v-360110e5="">Mem***BKM</h2></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-winType"><img data-v-360110e5="" src="https://ossimg.goa999.vip//GoaGame/vendorlogo/vendorlogo_20230724124223a1c6.png"></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-winAmount"><h2 data-v-360110e5="">Receive ₹80.46</h2><span data-v-360110e5="">Winning amount</span></div></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item"><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-img"><img data-v-360110e5="" src="https://goagame.com/assets/png/19-2ac9fd83.png"></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-info"><h2 data-v-360110e5="">Mem***LNQ</h2></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-winType"><img data-v-360110e5="" src="https://ossimg.goa999.vip//GoaGame/vendorlogo/vendorlogo_20230724124223a1c6.png"></div><div data-v-360110e5="" class="luckyWinners__container-wrapper__item-winAmount"><h2 data-v-360110e5="">Receive ₹100.32</h2><span data-v-360110e5="">Winning amount</span></div></div></div></div></div> -->


        <div data-v-b3079b66="" data-v-abc5f588="" class="dailyProfitRank" style="max-width: 100vw;overflow: hidden;">
            <!-- <h2 data-v-b3079b66="">Today's earnings chart</h2> -->
            <div data-v-b3079b66="" class="dailyProfitRank__content">
                <!-- <div data-v-b3079b66="" class="dailyProfitRank__content-topThree"><div data-v-b3079b66="" class="dailyProfitRank__content-topThree__item" style="order: 2; top: -45px;"><div data-v-b3079b66="" style="background: url(&quot;https://goagame.com/assets/png/border1-73fee535.png&quot;) center center / 100% 100% no-repeat;"><img data-v-b3079b66="" data-img="https://goagame.com/assets/png/avatar-ea3b8ee9.png" src="https://goagame.com/assets/png/4-12a0d0c5.png"></div><div data-v-b3079b66=""><img data-v-b3079b66="" src="https://goagame.com/assets/png/crown1-f1f181f7.png"><img data-v-b3079b66="" src="https://goagame.com/assets/png/place1-d5614e31.png"></div><span data-v-b3079b66="">Mem***PRM</span><span data-v-b3079b66="">₹8,049,042,816.08</span></div> -->
                <!-- <div data-v-b3079b66="" class="dailyProfitRank__content-topThree__item" style="order: 1; top: -30px;"><div data-v-b3079b66="" style="background: url(&quot;https://goagame.com/assets/png/border2-52596b87.png&quot;) center center / 100% 100% no-repeat;"><img data-v-b3079b66="" data-img="https://goagame.com/assets/png/avatar-ea3b8ee9.png" src="https://goagame.com/assets/png/8-ea087ede.png"></div><div data-v-b3079b66=""><img data-v-b3079b66="" src="https://goagame.com/assets/png/crown2-7ae8b5f8.png"><img data-v-b3079b66="" src="https://goagame.com/assets/png/place2-661cefa3.png"></div><span data-v-b3079b66="">Mem***OIW</span><span data-v-b3079b66="">₹2,239,847,218.28</span></div> -->
                <!-- <div data-v-b3079b66="" class="dailyProfitRank__content-topThree__item" style="order: 3; top: -30px;"><div data-v-b3079b66="" style="background: url(&quot;https://goagame.com/assets/png/border3-5cbc05b4.png&quot;) center center / 100% 100% no-repeat;"><img data-v-b3079b66="" data-img="https://goagame.com/assets/png/avatar-ea3b8ee9.png" src="https://goagame.com/assets/png/9-6d772f2c.png"></div><div data-v-b3079b66=""><img data-v-b3079b66="" src="https://goagame.com/assets/png/crown3-5fb47cd5.png"><img data-v-b3079b66="" src="https://goagame.com/assets/png/place3-48788a09.png"></div><span data-v-b3079b66="">Mem***JWK</span><span data-v-b3079b66="">₹333,323,480.00</span></div> -->
            </div>
            <!-- <div data-v-b3079b66="" class="dailyProfitRank__content-list"><div data-v-b3079b66="" class="dailyProfitRank__content-list__item"><span data-v-b3079b66="" class="left-rank">4</span><img data-v-b3079b66="" data-img="https://goagame.com/assets/png/avatar-ea3b8ee9.png" src="https://goagame.com/assets/png/12-ae12c679.png"><span data-v-b3079b66="" class="middle-name">Mem***JTF</span><span data-v-b3079b66="" class="right-box">₹301,906,846.78</span></div><div data-v-b3079b66="" class="dailyProfitRank__content-list__item"><span data-v-b3079b66="" class="left-rank">5</span><img data-v-b3079b66="" data-img="https://goagame.com/assets/png/avatar-ea3b8ee9.png" src="https://goagame.com/assets/png/2-58c8a9bc.png"><span data-v-b3079b66="" class="middle-name">Mem***RIH</span><span data-v-b3079b66="" class="right-box">₹176,774,360.00</span></div></div> -->
        </div>
        <div data-v-2023d0f1="" class="tabbar__container"
        style="--481e2ff7: &#39;Roboto&#39;, &#39;Inter&#39;, sans-serif;">
        <div data-v-2023d0f1="" class="tabbar__container-item active" onclick="window.location='/home'"><svg
                data-v-2023d0f1="" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none"
                viewBox="0 0 46 44" class="">
                <path fill="#949494" fill-rule="evenodd"
                    d="m23.66 5.278-17.9 12.08v25.507h10.08v-10.44a5.04 5.04 0 0 1 5.04-5.04h6.36a5.04 5.04 0 0 1 5.04 5.04v4.38h-3.36v-4.38a1.68 1.68 0 0 0-1.68-1.68h-6.36a1.68 1.68 0 0 0-1.68 1.68v11.16a2.64 2.64 0 0 1-2.64 2.64H5.04a2.64 2.64 0 0 1-2.64-2.64v-26.61a2.64 2.64 0 0 1 1.163-2.188L22.437 2.05a2.16 2.16 0 0 1 2.382-.023L44.514 14.77a2.64 2.64 0 0 1 1.206 2.216v26.598a2.64 2.64 0 0 1-2.64 2.64H30.6v-3.36h11.76V17.379z"
                    clip-rule="evenodd"></path>
                <path fill="#949494"
                    d="M32.4 44.545a1.68 1.68 0 1 1-3.36 0 1.68 1.68 0 0 1 3.36 0M32.28 36.745a1.68 1.68 0 1 1-3.36 0 1.68 1.68 0 0 1 3.36 0">
                </path>
            </svg><!----><span data-v-2023d0f1="">Home</span></div>
        <div data-v-2023d0f1="" class="tabbar__container-item" onclick="window.location='/Notification'"><svg
                data-v-2023d0f1="" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none"
                viewBox="0 0 46 44" class="">
                <path fill="#949494" fill-rule="evenodd"
                    d="M10.512 5.2h26.975a4.8 4.8 0 0 1 4.796 4.6l.51 12.2h3.203L45.48 9.666A8 8 0 0 0 37.489 2H10.511A8 8 0 0 0 2.52 9.666l-1.17 28A8 8 0 0 0 9.34 46h29.317a8 8 0 0 0 7.993-8.334L46.331 30h-3.203l.326 7.8a4.8 4.8 0 0 1-4.796 5H9.341a4.8 4.8 0 0 1-4.795-5l1.17-28a4.8 4.8 0 0 1 4.796-4.6"
                    clip-rule="evenodd"></path>
                <path fill="#949494" fill-rule="evenodd"
                    d="M13.92 16.64c.466 5.158 4.8 9.2 10.08 9.2 5.279 0 9.614-4.042 10.078-9.2h-3.522a6.621 6.621 0 0 1-13.113 0z"
                    clip-rule="evenodd"></path>
                <path fill="#949494"
                    d="M34.092 16.65a1.75 1.75 0 0 1-1.75 1.75c-.967 0-1.795-.784-1.795-1.75 0-.967.828-1.75 1.795-1.75.966 0 1.75.783 1.75 1.75M17.449 16.648c0 .966-.766 1.75-1.733 1.75-.966 0-1.795-.784-1.795-1.75 0-.967.829-1.75 1.795-1.75.967 0 1.733.783 1.733 1.75M46 22a1.6 1.6 0 1 1-3.2 0 1.6 1.6 0 0 1 3.2 0M46.33 30.044a1.6 1.6 0 1 1-3.2 0 1.6 1.6 0 0 1 3.2 0">
                </path>
            </svg><!----><span data-v-2023d0f1="">Notification</span></div>
            
        <div data-v-2023d0f1="" class="tabbar__container-item" onclick="window.location.href='/lottery/history'">
            <svg xmlns="http://www.w3.org/2000/svg" 
            fill="none" 
            viewBox="0 0 24 24" 
            stroke="currentColor" 
            stroke-width="2" 
            class="w-6 h-6 text-white">
         <path stroke-linecap="round" 
               stroke-linejoin="round" 
               d="M12 6c-1.1-1-2.9-1.5-4.5-1.5S4.1 5 3 6v13c1.1-1 2.9-1.5 4.5-1.5S11.1 18 12 19m0-13c1.1-1 2.9-1.5 4.5-1.5S19.9 5 21 6v13c-1.1-1-2.9-1.5-4.5-1.5S12.9 18 12 19" />
       </svg>

            <div data-v-2023d0f1="" class="promotionBg"></div><span data-v-2023d0f1="">Result</span>
        </div>
        <div data-v-2023d0f1="" class="tabbar__container-item" onclick="window.location='/wallet'"><svg
                data-v-2023d0f1="" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none"
                viewBox="0 0 46 44" class="wallet">
                <path stroke="#949494" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.2"
                    d="M3 23c0-5.984 3.526-10.164 9.009-10.868.559-.088 1.139-.132 1.741-.132h21.5c.559 0 1.096.022 1.612.11C42.41 12.77 46 16.972 46 23v11c0 6.6-4.3 11-10.75 11h-21.5C7.3 45 3 40.6 3 34v-2.178">
                </path>
                <path stroke="#949494" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.2"
                    d="M46 23.724h-6.452c-2.366 0-4.301 1.862-4.301 4.138S37.182 32 39.548 32H46m-9-20c-.516-.083-1.194 0-1.753 0H14c-.602 0-1.44-.083-2 0 0 0 .731-.648 1.247-1.145l6.99-6.745A7.737 7.737 0 0 1 25.571 2c1.997 0 3.914.758 5.333 2.11l3.764 3.662C36.045 9.076 39.548 12 37 12">
                </path>
            </svg><!----><span data-v-2023d0f1="">Wallet</span></div>
        <div data-v-2023d0f1="" class="tabbar__container-item" onclick="window.location='/mian'"><svg data-v-2023d0f1=""
                xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" viewBox="0 0 46 44" class="">
                <path fill="#949494" fill-rule="evenodd"
                    d="M24.08 5.28C13.741 5.28 5.36 13.661 5.36 24c0 10.339 8.381 18.72 18.72 18.72 10.339 0 18.72-8.381 18.72-18.72v-8.76h3.36V24c0 12.194-9.886 22.08-22.08 22.08C11.886 46.08 2 36.195 2 24 2 11.806 11.886 1.92 24.08 1.92h20.28v3.36z"
                    clip-rule="evenodd"></path>
                <path fill="#949494"
                    d="M46.16 3.6a1.68 1.68 0 1 1-3.36 0 1.68 1.68 0 0 1 3.36 0M46.16 15.12a1.68 1.68 0 1 1-3.36 0 1.68 1.68 0 0 1 3.36 0">
                </path>
                <path fill="#949494" fill-rule="evenodd"
                    d="M15.806 29.582a1.68 1.68 0 0 1 2.372.144c1.15 1.298 2.748 2.794 5.462 2.794 2.872 0 4.857-1.428 5.805-2.533a1.68 1.68 0 0 1 2.55 2.186c-1.451 1.695-4.314 3.707-8.355 3.707-4.198 0-6.647-2.424-7.977-3.926a1.68 1.68 0 0 1 .143-2.372"
                    clip-rule="evenodd"></path>
            </svg><!----><span data-v-2023d0f1="">Account</span></div>
    </div>
    </div>
    <!-- <div data-v-8a2fbe28="" data-v-abc5f588="" class="changlongEnter">
                                <img src="/images/icons/whatsapp.png" style="width: 110%;" alt="">
                            </div> -->
    <!-- <div data-v-c7ae4914="" data-v-abc5f588="" class="btn add-desktop"><svg data-v-c7ae4914="" class="line" width="1"
            height="60" viewBox="0 0 1 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line data-v-c7ae4914="" x1="0.5" x2="0.5" y2="60" stroke="white"></line>
        </svg><i data-v-c7ae4914="" class="van-badge__wrapper van-icon van-icon-close close"
            style="color: rgb(255, 255, 255);"></i> -->
        <!-- <img data-v-c7ae4914="" class="icon" src="/images/banners/logo.png" type="image/x-icon"> -->
        <!-- <div data-v-c7ae4914="" class="text">Add to Desktop</div> -->


    </div><!----><!----><!----><!---->
    <div data-v-e0088a18="" data-v-abc5f588="" class="dialog inactive">
        <div data-v-e0088a18="" class="dialog__container" role="dialog" tabindex="0">
            <div data-v-e0088a18="" class="dialog__container-img"><img data-v-e0088a18="" alt="" class=""
                    data-origin="https://goagame.com/assets/png/superjackpotHome-1510604a.png"
                    src="./Goa Games_files/superjackpotHome-1510604a.png"></div>
            <div data-v-e0088a18="" class="dialog__container-title">
                <h2 data-v-e0088a18="">Congratulation</h2>
            </div>
            <div data-v-e0088a18="" class="dialog__container-content">
                <div data-v-abc5f588="" class="Laundry-Con">
                    <div data-v-abc5f588="" class="Laundry-Con_tip">Get 【Super Jackpot】!</div>
                    <div data-v-abc5f588="" class="Landty-Con-tips">Visit the [Super Jackpot] page to claim your reward
                    </div>
                </div>
            </div>
            <div data-v-e0088a18="" class="dialog__container-footer"><!----><button data-v-e0088a18="">OK</button></div>
        </div>
        <div data-v-e0088a18="" class="dialog__outside"></div>
    </div>
    </div>

   

</div>
    <style>
        .custom-popup {
            background-color: black;
            font-size: 15px;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/Aviator/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>



    <script>
        function sendwhatsapp() {
            const message = encodeURIComponent("I want to join!");
            const url = `https://wa.me/9828764057?text=${message}`;
            window.open(url, '_blank');
        }

        $('.van-icon-close').click(() => {
            $('.add-desktop').hide();
        })
        $('.coming_soon').click(() => {
            const targetOffset = $('.all_container').offset().top;
            $('html, body').animate({
                scrollTop: targetOffset - 120
            }, 400);
        });

        function handleLudo() {
            window.location.href = '/dragon';
        }
        function  handelLottery() {
            window.location.href = '/lottery';
        }

       

    </script>
</body>

</html>